@-webkit-keyframes pulsate {
  from { opacity: 1; }
  to { opacity: 0.1; }
}

body, * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #222;
  background: transparent;
  font: 20px Monaco, Consolas, Monospace;
  text-transform: lowercase;
}

body { background: black; }

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

#background { z-index: 100; }
#foreground { z-index: 200; }
#loading {
  font-size: 30pt;
  text-align: center;
  display: block;
  color: magenta;
  margin-top: 200px;
  &:after { content: ' ...';  }
  -webkit-animation: pulsate 2s linear 2s infinite alternate;
}
#forkme {
  img {
    position: absolute; top: 0; right: 0; border: 0; z-index: 9001; opacity: 0.3;
    &:hover { opacity: 1 }
  }
}
